# axolotlsay-js
/axolotlsay-js/node_modules

# binaries
/axolotlsay-js/axolotlsay-js*
/axolotlsay-js/index*
# unignore the source file
!/axolotlsay-js/index.js

# cargo-dist
/axolotlsay-js/target
/target

# axolotlsay (Rust)
/crates/target
/crates/axolotlsay/public
